In [34]:
#훈련 데이터
docs = ["텍스트마이닝 너무 어렵다", "텍스트마이닝 너무 재밌다", "컴퓨터를 공부하는것은 힘들다", "배가 고파서 밥을 먹고싶다", "저녁을 먹었더니 배가 부르다", "밥을 먹은지 시간이 오래 지나서 배가 고프다", "자전거를 타는건 즐겁다", "게임을 하는건 재미있다", "유튜브를 보면 재미있다"]
#훈련 데이터 target
target = [0, 0, 0, 1, 1, 1, 2, 2, 2]

#테스트 데이터
docs_test =['밥먹고싶다 밥 배고파', '컴퓨터 공부는 정말 너무 어렵다', '나는 게임이 하고싶다', '컴퓨터 게임을 하고싶다', '저녁에 밥을 먹고싶다', '텍스트마이닝 너무 지루하다 집에 가고싶다', '혼자 컴퓨터를 분해하는건 재밌다']
#테스트 데이터 target
target_test = [1,0,2,2,2,0,2]

#CMAX훈련 데이터 
docs_cmax = [["텍스트마이닝 너무 어렵다", "텍스트마이닝 너무 재밌다", "컴퓨터를 공부하는것은 힘들다"], ["배가 고파서 밥을 먹고싶다", "저녁을 먹었더니 배가 부르다", "밥을 먹은지 시간이 오래 지나서 배가 고프다"], ["자전거를 타는건 즐겁다", "게임을 하는건 재미있다", "유튜브를 보면 재미있다"]]
#CMAX테스트 데이터
docs_test_cmax = [['컴퓨터 공부는 정말 너무 어렵다', '텍스트마이닝 너무 지루하다 집에 가고싶다'], ['밥먹고싶다 밥 배고파'], ['컴퓨터 공부는 정말 너무 어렵다', '나는 게임이 하고싶다', '컴퓨터 게임을 하고싶다', '혼자 컴퓨터를 분해하는건 재밌다']]

In [2]:
import pandas as pd # 데이터프레임 사용을 위해
from math import log # IDF 계산을 위해
from konlpy.tag import Okt #명사 추출기
okt = Okt()

In [17]:
#명사추출기를 이용한 전처리
vocab = []
vocab_test = []
#데이터의 각 원소에 대하여 명사 추출
for i in range(len(docs)):
    vocab.append(okt.nouns(docs[i]))
for j in range(len(docs_test)):
    vocab_test.append(okt.nouns(docs_test[j]))
#tf, idf, tf_idf를 계산하려면 1차원 list가 필요하여 리스트 차원 축소
vocab = sum(vocab, [])
vocab_test = sum(vocab_test, [])
print('훈련 단어 수 =' + str(len(vocab)))
print('테스트 단어 수 =' + str(len(vocab_test)))

훈련 단어 수 =18
테스트 단어 수 =18

In [18]:
#데이터 보기
print(vocab)
print(vocab_test)

['텍스트', '마', '이닝', '텍스트', '마', '이닝', '컴퓨터', '공부', '배', '밥', '저녁', '배', '밥', '시간', '배', '자전거', '게임', '유튜브']
['밥', '밥', '컴퓨터', '공부', '정말', '나', '게임', '컴퓨터', '게임', '저녁', '밥', '텍스트', '마', '이닝', '집', '혼자', '컴퓨터', '분해']

In [19]:
#tf, idf값 구하는 함수
N = len(docs) # 총 문서의 수
print("총 문서의 수 =" + str(N))
#tf
def tf(t, d):
    return d.count(t)
#idf
def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df + 1))
#tf.idf
def tfidf(t, d):
    return tf(t,d)* idf(t)

총 문서의 수 =9

In [32]:
#CTF

In [21]:
#IECDF

In [22]:
#CDF

In [23]:
#훈련 데이터 TF값 구하기(DTM)
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

   텍스트  마  이닝  텍스트  마  이닝  컴퓨터  공부  배  밥  저녁  배  밥  시간  배  자전거  게임  유튜브
0    1  1   1    1  1   1    0   0  0  0   0  0  0   0  0    0   0    0
1    1  1   1    1  1   1    0   0  0  0   0  0  0   0  0    0   0    0
2    0  0   0    0  0   0    1   1  0  0   0  0  0   0  0    0   0    0
3    0  0   0    0  0   0    0   0  1  1   0  1  1   0  1    0   0    0
4    0  0   0    0  0   0    0   0  1  0   1  1  0   0  1    0   0    0
5    0  0   0    0  0   0    0   0  1  1   0  1  1   1  1    0   0    0
6    0  0   0    0  0   0    0   0  0  0   0  0  0   0  0    1   0    0
7    0  0   0    0  0   0    0   0  0  0   0  0  0   0  0    0   1    0
8    0  0   0    0  0   0    0   0  0  0   0  0  0   0  0    0   0    1

In [24]:
#훈련 데이터 IDF값 구하기
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

          IDF
텍스트  1.098612
마    1.098612
이닝   1.098612
텍스트  1.098612
마    1.098612
이닝   1.098612
컴퓨터  1.504077
공부   1.504077
배    0.810930
밥    1.098612
저녁   1.504077
배    0.810930
밥    1.098612
시간   1.504077
배    0.810930
자전거  1.504077
게임   1.504077
유튜브  1.504077

In [25]:
#훈련 데이터 TF.IDF구하기
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tfidf(t,d))
tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,텍스트,마,이닝,텍스트,마,이닝,컴퓨터,공부,배,밥,저녁,배,밥,시간,배,자전거,게임,유튜브
0,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,1.098612,1.098612,1.098612,1.098612,1.098612,1.098612,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.504077,1.504077,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.81093,1.098612,0.000000,0.81093,1.098612,0.000000,0.81093,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.81093,0.000000,1.504077,0.81093,0.000000,0.000000,0.81093,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.81093,1.098612,0.000000,0.81093,1.098612,1.504077,0.81093,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,1.504077,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,1.504077,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,1.504077

In [26]:
#테스트셋 TF.IDF구하기
N = len(docs_test)
result = []
for i in range(N):
    result.append([])
    d = docs_test[i]
    for j in range(len(vocab_test)):
        t = vocab_test[j]

        result[-1].append(tfidf(t,d))

tfidf_test = pd.DataFrame(result, columns = vocab_test)
tfidf_test

,밥,밥,컴퓨터,공부,정말,나,게임,컴퓨터,게임,저녁,밥,텍스트,마,이닝,집,혼자,컴퓨터,분해
0,1.694596,1.694596,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.694596,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000
1,0.000000,0.000000,1.252763,1.252763,1.94591,0.000000,0.000000,1.252763,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,1.252763,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.00000,1.252763,1.252763,0.000000,1.252763,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000
3,0.000000,0.000000,1.252763,0.000000,0.00000,0.000000,1.252763,1.252763,1.252763,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,1.252763,0.00000
4,0.847298,0.847298,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.252763,0.847298,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000
5,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.847298,0.847298,0.847298,1.94591,0.00000,0.000000,0.00000
6,0.000000,0.000000,1.252763,0.000000,0.00000,0.000000,0.000000,1.252763,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.94591,1.252763,1.94591

In [27]:
from sklearn.metrics import accuracy_score #정확도 계산
from sklearn.naive_bayes import GaussianNB #사용할 분류기

In [28]:
#모델생성
mod = GaussianNB()
mod.fit(tfidf_, target)

GaussianNB()

In [29]:
#예측, 정확도 게산
predicted = mod.predict(tfidf_test) #테스트 데이터에 대한 예측 ##tfidf_ 값에 테스트값 
print("정확도:", accuracy_score(target_test, predicted)) #예측값과 실제값 비교 ##target에 테스트 정답

정확도: 0.2857142857142857